.promotions {
    &__list {
        margin: 0 0 63px;
    }

    &__title {
        color: white;

    }

    .promotions__text {
        color: $dark-pink-color;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 31%;
        min-height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 30px;

        @include tablet {
            width: 31%;
            min-height: 168px;
            margin: 0 0 19px;
        }

        @include mobile {
            width: 100%;
            min-height: 247px;
            margin: 0 0 32px;
        }
    }

    &__item--woman {
        background-image: url("../img/promotions-woman.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    &__item--man {
        background-image: url("../img/promotions-man.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    &__item--kids {
        background-image: url("../img/promotions-kids.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
    }

    &__item--accesories {
        background-image: url("../img/promotions-accesories.jpg");
        background-size: cover;
        width: 100%;
        display: flex;
        flex-direction: column;

        @include tablet {
            min-height: 116px;
        }
    }
}

.products__button {
    width: 211px;
    height: 47px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #F26376;
    border-color: #F26376;
    margin-top: 49px;
    margin-bottom: 20px;
    margin-left: 45%;
}

.products__button:hover {
    background-color: pink;
    color: white;
    border: none;
}