.product {
    &__button {
        display: none;
    }

    &__img {
        display: block;
    }

    &__description {
        background: $gray-color;
        padding: 25px 29px 20px 17px;
    }
}