.products {
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include mobile {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        width: 360px;

        @include min-mobile {
            width: 100%;
        }
    }
}